#root {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#root > [data-overlay-container] {
  position: relative;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

main{
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  padding: 2rem;
}